.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main-container{
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
background-color: #282c34;
}
#img-container{
  text-align: center;
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
}
img{
  margin: 10px 10px 0px 10px;
  height: 500px;
  border-radius: 10px;
}
h2{
  margin: 0;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}
h1{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  color: aliceblue;
  margin: 50px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}